<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body style="background-color:#74992e;">
<b>Пользователи:</b>
<div th:each="person : ${people}">
  <a th:href="@{/library-project/people/{id}(id=${person.getId()})}"
     th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">user</a>
</div>

<br/>
<hr/>

<a href="/library-project/people/new">Добавить человека</a>

<br/>
<hr/>
<a href="/">На главную</a>


</body>
</html>